body {
    
    background-color: #1F2535;
    color: #E6E3E3 ;
    font-family: 'Acme', sans-serif;
    font-family: 'Handlee', cursive;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
   

}


/*DESK*/

@media (min-width:1024px){


    /*------NAV-------*/
    nav{
        background-color: #171B27;
        display: flex;
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 100px;
        
        
    }

    .nav-1, .nav-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        
      }

      .nav-1{
        gap: 200px;
      }

      .nav-1 h1{
        font-size: 40px;
      }

      .nav-1 a{
        font-size: 20px;
      }

      .nav-2{
        gap: 20px;
      }

      input{
        border-radius: 7px;
        height: 30px;
        width: 250px;
        background-color: #E6E3E3;

        background-image: url(/img/icons8-lupa-50.png);
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: right;
       
   
      }

      input::placeholder {
        text-align: center;
      }

    a{
        text-decoration: none;
        color: #E6E3E3;
        font-weight: bold;
        font-size: 17px;
    }

    .icone{
        color: #E6E3E3 ;
    }


     .categoria-1,  .categoria-2{
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        font-size: 50px;
     }
      
      .categoria {
        display: flex;
        flex-wrap: wrap; 
      }

      .categoria-1 p{
        
        background-color: #171B27;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
      }


    
}





/*mobille

@media(max-width:767px){



}*/



/*tablet
@media (min-width:768px) and (max-width:1023px){

}*/