.cabecalho{
    margin-left: 60px;
}

.barra{
    background-color: rgb(184, 177, 177);
    height: 30px;
    width: 50%;
    padding-left: 60px;

    display: flex;
    align-items: center;
}

h2{
    margin-left: 60px;
}

form{
    margin-left: 60px;
}

form{
    width: 50%;
}

.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

label{
    margin-top: 30px;
}

input:last-child{
    margin-top: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}