.titulo-topo{
    background-color: #aaa;
}

figure{
    background-color: #ccc;
}

/*body{
    
    background-image: url(../imgs/body-background.png);
    background-repeat: repeat-x;
    background-position: top center;
    background-attachment: fixed;
    
}*/

.titulo-compra{
    background-color: rgb(224, 216, 243) ;
}